#content{
    display: grid;
    grid-template-rows: 5% 68vh 1fr;
    background-color: black;
}

#msjresultados{
    grid-row: 1 / 4;
    place-self: center;
    text-align: center;
    color: white;
}

#catalogojuegos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
}

#errorbox{
    display: grid;
    position: absolute;
    justify-self: center;
    align-self: self-end;
    width: 100%;
}

#errorgeneral{
    display: none;
    height: 2vh;
    margin: 0;
    text-align: center;
    font-size: 1.3vh;
    border: 0.3vh solid white;
    color: white;
    background-color: green;
}

#catalogotitulo{
    height: 100%;
    align-self: center;
    align-content: center;
    margin: 2vh 0 2vh 0;
    font-size: 2.6vh;
    border-bottom: 0.3vh solid white;
    text-align: center;
    color: white;
}

.juego{
    display: grid;
    grid-template-rows: repeat(3, min-content);
}

.juegonombre{
    font-size: 1.2vh;
    text-align: center;
    color: white;
}

.juegolink{
    justify-self: center;
}

.juegoimagen{
    filter: brightness(90%);
    justify-self: center;
    height: 16vh;
    width: 11vh;
    margin: 0;
    font-size: 2vh;
    border-radius: 1.5vh;
    border: 0.3vh solid white;
}

img::after{
    font-size: 100vh !important;
}

.juegoimagen:hover{
    cursor: pointer;
    filter: brightness(110%);
}

.juegoprecio{
    font-size: 2vh;
    text-align: center;
    color: white;
}

#navegarbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 0.3vh solid white;
}

.navegar{
    display: initial;
    place-self: center;
    font-size: 2vh;
    border-color: white;
    border-width: 0.3vh;
    border-radius: 1vh;
    color: white;
    background-color: blue;
}

.navegar:hover{
    cursor: pointer;
    border-color: blue;
    color: blue;
    background-color: white;
}

.navegar:active{
    border-color: blue;
    color: blue;
    background-color: white;
}

#siguiente{
    grid-column: 3;
}

@media screen and (orientation: landscape){
    /*
    #content{
        grid-template-rows:var();
    }
    */
    #catalogotitulo{
        font-size: 3vh;
    }

    #catalogojuegos{
        grid-template-columns: repeat(5, 1fr);
    }

    .juegonombre{
        font-size: 1.5vh;
    }

    .juegoimagen{
        height: 31vh;
        width: 22vh;
    }

    .juegoprecio{
        font-size: 3vh;
    }

    #navegarbox{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .navegar{
        font-size: 2.5vh;
        width: 10vw;
    }

    #siguiente{
        grid-column: 5;
    }
}

@media screen and (orientation: portrait) and (min-width: 500px){
    #catalogojuegos{
        grid-template-columns: repeat(4, 1fr);
    }

    #catalogotitulo{
        font-size: 2.8vh;
    }

    .juegonombre{
        font-size: 1.5vh;
    }

    .juegoprecio{
        font-size: 2.3vh;
    }

    #navegarbox{
        grid-template-columns: repeat(4, 1fr);
    }

    .navegar{
        font-size: 2.5vh;
    }

    #siguiente{
        grid-column: 4;
    }
}
