*{
    outline:none;
}

#errorbox{
    display: grid;
    position: absolute;
    justify-self: center;
    align-self: self-end;
    width: 100%;
}

.error{
    display: none;
    height: 2vh;
    margin: 0;
    text-align: center;
    font-size: 1.3vh;
    border: 0.3vh solid white;
    color: white;
    background-color: red;
}

#errorgeneral{
    display: none;
    height: 2vh;
    margin: 0;
    text-align: center;
    font-size: 1.3vh;
    border: 0.3vh solid white;
    color: white;
    background-color: red;
}

#msj{
    place-self: center;
    text-align: center;
    font-size: 4vh;
    border: 0.5vh solid white;
    border-radius: 1vh;
    color: white;
    background-color: green;
}

#juegobox{
    display: grid;
    grid-template-rows: repeat(11, min-content);
    justify-content: center;
    align-content: space-evenly;
    justify-self: center;
    width: 75%;
    margin: 5% 35% 5% 35%;
    border-radius: 1.3vh;
    background-color: white;
}

#titulojuegobox{
    text-align: center;
    font-size: 2.9vh;
}

.juegoinput{
    justify-self: center;
    width: 80%;
    height: min-content;
    font-size: 1.3vh;
    border: 0.3vh solid gray;
}

.juegotitulo{
    text-align: center;
    font-size: 2.1vh;
}

input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    justify-self: center;
    height: 2vh;
    width: 80%;
    background-color: transparent;
    border: none;
}

input[type="range"]::-webkit-slider-runnable-track{
    height: 2vh;
    border: 0.1vh solid black;
    border-radius: 1vh;
    background-color: white;

}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearence: none;
    appearance: none;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    margin-top: calc( (2vh / 2) - (2vh / 2) - 0.1vh );
    background-color: blue;
}

#juegoprecio::-webkit-slider-thumb{
    background-color: greenyellow;
}

.cantidad{
    justify-self: center;
    font-size: 1.8vh;
    margin: 0;
}

#juegodesc{
    font-size: 1vh;
}

#juegoportada,#juegoimagenprincipal{
    justify-self: center;
    width: min-content;
    font-size: 1.2vh;
}

#tagbox{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-y: scroll;
    max-height: 10vh;
}

.opcionbox{
    display: grid;
    grid-template-columns: min-content 1fr;
}

.taginput{
    height: 2vh;
    width: 2vh !important;
    margin: 0;
    place-self: center;
    width: min-content;
}

.etiquetatag{
    font-size: 1.5vh;
    justify-self: left;
    align-self: center;
    height: min-content;
    width: min-content;
}

#nuevoTagBox{
    display: grid;
    justify-self: center;
    width: 80%;
    grid-template-columns: min-content min-content;
}

#nuevoTagTexto{
    align-self: center;
    height: min-content;
    font-size: 1.5vh;
}

#nuevotag{
    width: max-content;
    font-size: 1.5vh;
    border: 0.5vh solid white;
    border-radius: 2vh;
    color: white;
    background-color: orange;
    outline: none;
}

#nuevotag:active{
    border-color: orange;
    color: orange;
    background-color: white;
}

#nuevotag:hover{
    cursor: pointer;
    border-color: orange;
    color: orange;
    background-color: white;
}

#enviar{
    display: none;
}

#etiquetaboton{
    display: grid;
}

#juegoboton{
    justify-self: center;
    height: min-content;
    padding: 0.8vh 0.5vh 0.8vh 0.5vh;
    font-size: 1.7vh;
    border: 0.3vh solid white;
    border-radius: 1vh;
    color: white;
    background-color: blue;
}

#juegoboton:active{
    border-color: blue;
    color: blue;
    background-color: white;
}

#juegoboton:hover{
    cursor: pointer;
    border-color: blue;
    color: blue;
    background-color: white;
}

input[type="file"]{
    -webkit-appearance: none;
    appearance: none;
}

@media screen and (orientation: portrait) and (min-width:500px){
    #juegobox{
        justify-content:stretch;
    }

    #titulojuegobox{
        font-size: 3.2vh;
    }

    .juegotitulo{
        font-size: 2.6vh;
    }

    .juegoinput{
        font-size: 2vh;
    }

    .cantidad{
        font-size: 1.8vh;
    }

    #juegodesc{
        font-size: 2vh;
    }

    #juegoportada,#juegoimagenprincipal{
        justify-self: center !important;
        justify-content: center;
        font-size: 2vh;
    }

    #juegoboton{
        font-size: 2vh;
    }
}

@media screen and (orientation: landscape){
    #juegobox{
        justify-content: stretch;
        margin: 2% 35% 2% 35%;
        
        width: 50%;
    }

    #titulojuegobox{
        margin: 2vh 0 0.7vh 0;
        font-size: 3.4vh;
    }

    .juegotitulo{
        margin-top: 0.7vh;
        font-size: 2.5vh;
    }

    .juegoinput{
        margin-top: 0.7vh;
        font-size: 2.1vh;
        max-height:4vh;
    }

    .cantidad{
        font-size: 1.8vh;
    }

    #juegodesc{
        font-size: 2.1vh;
    }

    #juegoportada,#juegoimagenprincipal{
        justify-self: center !important;
        margin-top: 0.7vh;
        max-height: 7vh;
        width:min-content;
        font-size: 1.1vw;
    }

    #juegoboton{
        margin: 2vh 0 2vh 0;
        font-size: 2.3vh;
    }
}