*{
    outline:none;
}

#errorbox{
    display: grid;
    position: absolute;
    justify-self: center;
    align-self: self-end;
    width: 100%;
}

#errorgeneral{
    display: none;
    height: 2vh;
    margin: 0;
    text-align: center;
    font-size: 1.3vh;
    border: 0.3vh solid white;
    color: white;
    background-color: red;
}

#msjexito{
    place-self: center;
    text-align: center;
    height: min-content;
    border: 1vh solid white;
    border-radius: 1vh;
    color: white;
    background-color: green;
}

#juegobox{
    display: grid;
    grid-template-rows: repeat(11, min-content);
    justify-content: center;
    align-content: space-evenly;
    justify-self: center;
    width: 75%;
    margin: 5% 35% 5% 35%;
    border-radius: 1.3vh;
    background-color: white;
}

#titulojuegobox{
    text-align: center;
    font-size: 2.9vh;
}

.juegoinput{
    justify-self: center;
    width: 80%;
    height: min-content;
    font-size: 1.3vh;
    border:0.3vh solid gray;
}

.juegotitulo{
    text-align: center;
    font-size: 2.1vh;
}

#juegoprecio{
    outline: none;
    justify-self:center;
}

.cantidad{
    justify-self: center;
    font-size: 1.8vh;
    margin: 0;
}

#juegodesc{
    font-size: 1vh;
}

#juegoportada,#juegoimagenprincipal{
    justify-self: center;
    width: 100%;
    font-size: 1.2vh;
}

#enviar{
    display: none;
}

#etiquetaboton{
    display: grid;
}

#juegoboton{
    justify-self: center;
    height: min-content;
    padding: 0.8vh 0.5vh 0.8vh 0.5vh;
    font-size: 1.7vh;
    border: 0.3vh solid white;
    border-radius: 1vh;
    color: white;
    background-color: blue;
}

#juegoboton:active{
    border-color: blue;
    color: blue;
    background-color: white;
}

#juegoboton:hover{
    cursor: pointer;
    border-color: blue;
    color: blue;
    background-color: white;
}

@media screen and (orientation: portrait) and (min-width:500px){
    #juegobox{
        justify-content:stretch;
    }

    #titulojuegobox{
        font-size: 3.2vh;
    }

    .juegotitulo{
        font-size: 2.6vh;
    }

    .juegoinput{
        font-size: 2vh;
    }

    .cantidad{
        font-size: 1.8vh;
    }

    #juegodesc{
        font-size: 2vh;
    }

    #juegoportada,#juegoimagenprincipal{
        width: 89%;
        justify-self: center !important;
        justify-content: center;
        font-size: 2vh;
    }

    #juegoboton{
        font-size: 2vh;
    }
}

@media screen and (orientation: landscape){
    #juegobox{
        justify-content: stretch;
        margin: 2% 35% 2% 35%;
        
        width: 50%;
    }

    #titulojuegobox{
        margin: 2vh 0 0.7vh 0;
        font-size: 3.4vh;
    }

    .juegotitulo{
        margin-top: 0.7vh;
        font-size: 2.5vh;
    }

    .juegoinput{
        margin-top: 0.7vh;
        font-size: 2.1vh;
        max-height:4vh;
    }

    .cantidad{
        font-size: 1.8vh;
    }

    #juegodesc{
        font-size: 2.1vh;
    }

    #juegoportada,#juegoimagenprincipal{
        justify-self: center !important;
        margin-top: 0.7vh;
        max-height: 7vh;
        width: min-content;
        font-size: 1.1vw;
    }

    #juegoboton{
        margin: 2vh 0 2vh 0;
        font-size: 2.3vh;
    }
}