#errorbox{
    display: grid;
    position: absolute;
    justify-self: center;
    align-self: self-end;
    width: 100%;
}

.error{
    display: none;
    height: min-content;
    font-size: 1.5vh;
    margin: 0;
    text-align: center;
    border: 0.3vh solid white;
    color: white;
    background-color: red;
}

#loginform{
    display: grid;
    grid-template-rows: repeat(6, min-content);
    place-self: center;
    height: min-content;
    width: 90%;
    border-radius: 1vh;
    background-color: white;
}

#logintitulo{
    text-align: center;
    font-size: 3vh;
    margin: 2vh 0 0 0;
}

.datotitulo{
    text-align: center;
    font-size: 2.5vh;
}

.datoinput{
    justify-self: center;
    width: 65%;
    border: 0.3vh solid black;
    font-size: 1.5vh;
}

#userinput{
    grid-row: 3;
}

.datoinput:focus{
    outline: none;
}

#login{
    place-self: center;
    width: min-content;
    margin: 2vh 0 1vh 0;
    text-align: center;
    font-size: 2.4vh;
    border: 0.3vh solid white;
    border-radius: 1vh;
    color: white;
    background-color: red;
}

#login:active{
    border-color: red;
    color: red;
    background-color: white;
}

#login:hover{
    cursor: pointer;
    border-color: red;
    color: red;
    background-color: white;
}

#login:focus{
    outline: none;
}

#sesionbox{
    place-content: center;
    place-self: center;
    height: 20%;
    width: 50%;
    border: 0.6vh solid white;
    border-radius: 2vh;
    background-color: red;
}

#sesionmsj{
    justify-self: center;
    width: max-content;
    font-size: 1.6vh;
    color: white;
}

@media screen and (orientation: landscape){
    .error{
        font-size: 2vh;
    }

    #loginform{
        width: 35%;
    }

    .datotitulo{
        font-size: 2.5vh;
    }

    .datoinput{
        font-size: 2vh;
    }

    #sesionmsj{
        font-size: 5vh;
    }
}

@media screen and (orientation: portrait) and (min-width: 500px){
    .error{
        font-size: 2vh;
    }

    #loginform{
        width: 60%;
    }

    #logintitulo{
        font-size: 3.5vh;
    }

    .datotitulo{
        font-size: 2.6vh;
    }

    .datoinput{
        font-size: 2vh;
        width: 75%;
    }

    #login{
        font-size: 2.5vh;
    } 

    #sesionmsj{
        font-size: 2.4vh;
    }
}
