* {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body{
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
    margin: 0;
    background-color: black;
}

#topicons a{  
    display: grid;
}

#topicons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 0.3vh solid white;
    background-color: black;
}

.icon{
    height: 6.25vw;
    width: 6.25vw;
    max-width: 100%;
    max-height: 100%;
}

#left{
    display: grid;
    max-width: 50vw;
    grid-template-columns: min-content 1fr;
    background-color: black;
}

#topicons img:hover{
    filter: invert(1);
}

#searchbarbox{
    display: grid;
    grid-template-columns: min-content min-content;
}

#searchbar{
    width: 37.5vw;
    padding: 0;
    font-size: 4vw;
    border-width: 0.3vh;
    color: white;
    background-color: black;
}

#searchbar:focus{
    outline: none;
}

#lupabutton{
    display: none;
}

#lupa{
    transform: scaleX(-1);
}

#lupa:hover{
    cursor: pointer;
}

#lupaetiqueta{
    display: grid;
    width: max-content;
    height: max-content;
}

#busquedabox{
    display: none;
    position: absolute;
    min-height: 6.25vw;
    max-height: 25vw;
    width: 37.5vw;
    margin: 6.25vw 0 0 6.25vw;
    overflow-y: scroll;
}

.ares,.atagres{
    height: 6.25vw;
    text-decoration: none;
    align-content: center;
    font-size: 2.5vw;
    border: 0.3vh solid gray;
    color: white;
    background-color: black;
}

.ares:hover,.atagres:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

.res,.tagres{
    margin: 0;
}


#right{
    display: grid;
    grid-template-columns: repeat(6,max-content);
    justify-self: right;
    background-color: black;
}

.enlace{
    grid-row: 1 / 3;
    align-content: center;
    padding: 0 1vh 0 1vh;
    text-align: center;
    font-size: 2.5vw;
    text-decoration: none;
    color: white;
}

.enlace:active{
    color: black;
    background-color: white;
    border-color: black;
}

.enlace:hover{
    color: black;
    background-color: white;
    border-color: black;
}

#iniciosesion{
    grid-column: 7;
    border-left: 0.15vh solid white;
    border-right: 0.3vh solid white
}

#registro{
    border-right: 0.15vh solid white;
    border-left: 0.3vh solid white;
}

#cambiobox{
    display: none;
    position: absolute;
    width: 18.75vw;
    height: 12.5vw;
    margin: 6.25vw 0 0 0;
    text-decoration: none;
}

.adimenu{
    height: 6.25vw;
    align-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.3vh;
    border-left: 0.3vh solid white;
    border-right: 0.3vh solid white;
    color: white;
    background-color: black;
}

.adimenu:hover{
    border-color: black;
    color: black;
    background-color: white !important;
}

#actualizar{
    border-top: 0.3vh solid white;
    border-bottom: 0.15vh solid white
}

#cerrarsesion{
    background-color: red;
    border-bottom: 0.3vh solid white;
    border-top: 0.15vh solid white
}

#editarbox{
    display: none;
}

#content{
    display: grid;
}

footer{
    border-top: 0.3vh solid white;
}

#overlength{
    margin: 0;
    font-size: 3.4vw;
    white-space: pre-line;
    color: white;
    background-color: black;  
}

@media screen and (orientation: landscape){
    .icon{
        height: 3.125vw;
        width: 3.125vw;
    }

    .enlace{
        font-size: 1.1vw;
    }

    #overlength{
        font-size: 1.8vh
    }

    #searchbar{
        max-height: 3.125vw;
        width: 43.75vw;
        font-size: 2vh;
    }

    #busquedabox{
        margin: 3.125vw 0 0 3.125vw;
        width: 43.75vw;
        min-height: 3.125vw;
        max-height: 12.5vw;
    }

    .ares,.atagres{
        height: 3.125vw;
        font-size: 1.7vh;
    }
    
    #cambiobox{
        width: 9.375vw;
        margin: 3.125vw 0 0 0;
    }

    .adimenu{
        height: 3.125vw;
        font-size: 1.5vh;
    }

}

@media screen and (orientation: portrait){
    #overlength{
        text-align: justify;
    }
}

@media screen and (orientation: portrait) and (min-width: 500px){
    #overlength{
        font-size: 1.8vh;
    }

    #searchbar{
        font-size: 1.7vh;
    }

    .enlace{
        font-size: 1.8vh;
    }

    .ares,.atagres{
        font-size: 1.5vh;
    }

    .adimenu{
        font-size: 1.7vh;
    }
}
