#content{
    display: grid;
    grid-template-rows: min-content 1fr;
}

#busqueda{
    display: grid;
    grid-template-columns: min-content min-content;
    border-bottom: 0.3vh solid white;
    
}

#buscar{
    width: 20vw;
    margin: 0;
    font-size: 1.5vh;
    border: none;
    color: white;
    background-color: black;
    border: 0.3vh solid white;
}


#buscarboton{
    justify-self: left;
    margin:0;
    font-size: 1.5vh;
    border: 0.3vh solid white;
    border-radius: 0.5vh;
    color: white;
    background-color: blue;
}

#buscarboton:active{
    border-color: blue;
    color: blue;
    background-color: white;
}

#tablaform{
    display: grid;
    grid-template-rows: repeat(auto-fill, 5vh);
    overflow-y: scroll;
    background-color: green;
}

table,th,td{
    border: 0.3vh solid white;
    border-collapse: collapse;
    color: white;
    background-color: black;
}

tr{
    height: 5vh;
}

th,td{
    height: min-content;
    width: min-content;
    font-size: 1.5vh;
}

input[type=datetime-local]{
    height: 5vh;
    width: 35vw;
    font-size: 1.7vh;
    border: none;
    color: white;
    background-color: gray;
}

select{
    width: 100%;
    font-size: 1vh;
    width: 20vw;
    color: white;
    background-color: black;
}

input:focus{
    outline: none;
}

select:focus{
    outline: none;
}

#guardarfila{
    border: none;
}

#guardarcelda{
    border: none;
}

#guardar{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    border: 0.3vh solid white;
    border-radius: 0.5vh;
    font-size: 1.2vh;
    color: white;
    background-color: blue;
}

#guardar:active{
    border-color: blue;
    color: blue;
    background-color: white;
}

@media screen and (orientation: landscape){
    tr{
        height: 3vh;
    }

    td{
        font-size: 1.6vh;
    }

    select{
        width: 100%;
        font-size: 2vh;
    }

    input[type=datetime-local]{
        width: 100%;
    }

    #guardar{
        font-size: 2.3vh;
    }
}

@media screen and (orientation: portrait) and (min-width: 700px){
    td{
        font-size: 1.7vh;
    }
}
