<h1>Filtros</h1>
    <br>
    {{param["gentle"]|batch(4,99)|list}}
    <br>
    {{param["dic"]|dictsort(by="value")}}
    <br>
    {{param["diablo"]|format("Hoy",21,"febrero",2019)}}
    <br>
    {{param["inicio"]|groupby("name")}}
    <br>
    {{param["unite"]|join("@")}}
    <br>
    {{param["retraso"]|list}}
    <br>
    {{param["elefante"]|map(attribute="music")|list}}
    <br>
    {{param["numeritos"]|reject("equalto",1)|list}}
    <br>
    {{param["electro1"]|rejectattr("state","equalto","on")|list}}
    <br>
    {{param["electro2"]|selectattr("state","equalto","on")|list}}
    <br>
    {{param["nuevo"]|replace(1,99)}}
    <br>
    {{param["condi"]|select("odd")|list}}
    <br>
    {{param["uuu"]|slice(7,99)|list}}
    <br>
    {{param["pru"]|striptags}}
    <br>
    {{param["electro3"]|tojson}}
    <br>
    {{param["discri"]|unique|list}}
    <br>
    {{param["visita"]|urlize}}
    <br>
    {{param["texto"]|wordcount}}
    <br>
    <br>
    <h1>Pruebas</h1>
    <br>
    {{param["test"]|select("boolean")|list}}
    <br>
    {{param["test"]|select("divisibleby",2)|list}}
    <br>
    {{param["test"]|select("eq",True)|list}}
    <br>
    {{param["test"]|select("divisibleby",3)|list}}
    <br>
    {{param["test"]|select("even")|list}}
    <br>
    {{param["test"]|select("false")|list}}
    <br>
    {{param["test"]|select("ge",1)|list}}
    <br>
    {{param["test"]|select("gt",1)|list}}
    <br>
    {{param["test"]|select("iterable")|list}}
    <br>
    {{param["test"]|select("mapping")|list}}
    <br>
    {{param["test"]|select("ne",1)|list}}
    <br>
    {{param["test"]|select("test")|list}}